<%- include('partials/header') %>

<body>
	
	<div id="sidebar">
		<ul>
			<li>Add data</li>
			<li>Delete data</li>
			<li>update data</li>
			
		</ul>
	</div>
	<div id="data">
		<center>
			<h3>Hello</h3>
			<p>Welcome to my Admin dashboard</p>
		</center>
	</div>

</body>
<%- include('partials/header') %>
