<%- include('partials/header') %>

<body>
	<div class="container">
	<div class="site-title">
		<h1>Welcome to Highbridge Homes</h1>
		<p>I am a</p>
		<div class="site-button">
			<a href="/guest">GUEST</button>
		
			<a href="/staff">STAFF</button>
		</div>
	</div>
	<div class="overlay"></div>
	<img src="/img/HBH.jpg">
   </div>
</body>

<%- include('partials/header') %>