<%- include('partials/header') %>

<body>
  <div class="container">
  <div class="site-title">
    <h1>ATTENDANCE</h1>
    <p>What will you like to do</p>
    <div class="site-button">
      <a href="/staff/clock-in" id="in">CLOCK-IN</a>
    
      <a href="/staff/clock-out" id="out">CLOCK-OUT</a>
    </div>
    <div>
      <a href="/staff/activity" class="page">STAFF PAGE</a>
    </div>
  </div>
  <div class="overlay"></div>
  <img src="img/HBH.jpg">
   </div>
</body>

<%- include('partials/footer') %>