<%- include('partials/header') %>

<body>
	<div class="container">
	<div class="site-title">
		<div class="info-bar">
			<p class="err"><%= message %></p>
		</div>
		<h1>Please fill in the staff details</h1>
		<form method="POST" action="/guest" class="site-form">
			<div class="row">
				<div class="col-25">
					<label for="staffId">Staff ID:</label>
				</div>
				<div class="col-75">
				<input type="text" id="staffId" name="staffId" placeholder="Enter the staff ID" required>	
				</div>
			</div>
			<div class="row">
				<div class="col-25">
					<label for="fname">Full-name:</label>
				</div>
				<div class="col-75">
				<input type="text" id="fname" name="fname" placeholder="Enter the staff name" required>	
				</div>
			</div>
		  <div class="row">
		  	<div class="col-25">
		  		<label for="email">Email:</label>
		  	</div>
		  	<div class="col-75">
		  		<input type="text" id="email" name="email" placeholder="Enter the staff email" required>
		  	</div>
		  </div>
		  <div class="row">
		  	<div class="col-25">
		  		<label for="phone">Phone-number:</labe>
		  	</div>
		  	<div class="col-75">
		  		<input type="text" id="phone" name="phone" placeholder="Enter staff phone number" required>
		  	</div>
		  </div>
		  <div class="row">
		  	<div class="col-25">
		  		<label for="Address">Address:</label>
		  	</div>
		  	<div class="col-75">
		  		<input type="text" id="address" name="address" placeholder="Enter staff address" required>
		  	</div>
		  </div>
		 <div class="row">
		 	<div class="col-25">
		 		<label for="role">Role:</label>
		 	</div>
		 	<div class="col-75">
		 		<input type="text" id="role" name="role" placeholder="Mr Akin" required>
		 	</div>
		 </div>
		<div>
			<input type="submit" placeholder="Submit">
		</div>  
		</form>
	</div>
	<div class="overlay"></div>
	<img src="img/HBH.jpg">
   </div>
</body>
</html>

<%- include('partials/footer') %>